html {
    font-family: sans-serif;
    margin: 10px;
    padding: 10%;
}

h1 {
    text-align: center;
}

body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}